@charset "UTF-8";
/* CSS Document */

body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #666666;
	font-family: "Myriad", "Geneva", "Myriad Pro", "Myriad Pro Bold", "Myriad Web Bold";
	font-size: 12px;
	background-color: #999999;
	background-image: url(assets/backgrounds/whiteStripBk.gif);
	background-repeat: repeat;
}

a:link {
	color: #3399CC;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #3399CC;
}

a:hover {
	text-decoration: none;
	color: #666666;
}

a:active {
	text-decoration: none;
	color: #3399CC;
}

h1 {
	font-size: 16px;
	color: #3399CC;
}

h2 {
	font-size: 14px;
	color: #3399CC;
	margin-top: 10px;
}

.oneColLiqCtrHdr #container {
	width: 825px;  /* this will create a container 80% of the browser width */
	background: #FFFFFF; /* the auto margins (in conjunction with a width) center the page */
	border: 0.15px solid #EDEDED;
	text-align: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	height: auto;
}
.oneColLiqCtrHdr #header {
	height: 60px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
	background-color: #E5E5E5;
}

.menu{
	float:right;
	width: 25%;
}

.menu ul{
	margin-top: 3px;
	margin-bottom: 2px;
}

.menu li{
	color: #3399CC;
	list-style-type: square;
}

.menu li a{
	color: #3399CC;
	text-decoration: none;
}

.menu li a:hover{
	text-decoration: none;
	color: #FFFFFF;
	background-color: #3399CC;
}


.oneColLiqCtrHdr #mainContent {
	background: #FFFFFF;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 0px;
	height: 640px;
}

.breadcrumbs{
	margin-left: 15px;
	height: 15px;
	padding-top: 5px;
}

#content{
	margin-left: 15px;
	margin-top: 10px;
}

#content li{
	list-style-type: square;
}


#photo{
	width:250px;
	height:200px;
	float: right;
	text-align: center;
}
.rightimage{
	float:right;
	background-repeat: no-repeat;
	padding: 10px;
}

.whitespace{
	height: 10px;
	color: #FFFFFF;
}

.html #sideleft{
	float:left;
	width: 400px;
	margin-top: 0px;
	margin-right: 15px;
}

#sideleft{
	float:left;
	width: 400px;
	margin-top: 0px;
}

#sideleft ul{
	list-style-type: none;
	padding-left: 5px;
	margin-top: 5px;
	width:390px;
}

#sideleft li{
	height: 120px;
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 0px;
	border-bottom-width: 0.25px;
	border-bottom-style: dotted;
	border-bottom-color: #3399CC;
}
#sideleft p{
	line-height: 100%;
	margin-top: 0px;
}

.image{
	float: left;
	padding-left: 0px;
	padding-right: 5px;
	height: 100px;
	width: 125px;
	background-position: left center;
	background-color: #FFFFFF;
	margin-left: 15px;
}

.bluetitle{
	font-size: 14px;
	color: #FFFFFF;
	background-color: #3399CC;
	text-align: left;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	font-style: normal;
	text-decoration: none;
}
.orangetitle{
	font-size: 14px;
	color: #FFFFFF;
	background-color:#FF6600;
	text-align: left;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	font-style: normal;
	text-decoration: none;
}
.greentitle{
	font-size: 14px;
	color: #FFFFFF;
	background-color:#99CC00;
	text-align: left;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	font-style: normal;
	text-decoration: none;
}
.purpletitle{
	font-size: 14px;
	color: #FFFFFF;
	background-color:#CC3399;
	text-align: left;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	font-style: normal;
	text-decoration: none;
}
.greytitle{
	font-size: 14px;
	color: #FFFFFF;
	background-color:#333333;
	text-align: left;
	font-weight: normal;
	font-variant: normal;
	text-transform: capitalize;
	font-style: normal;
	text-decoration: none;
}



.more{
	float:right;
	margin-left: 10px;
	background-image: url(assets/buttons/Readmore.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-top: 0px;
	padding-right: 20px;
}

#sideright{
	float:right;
	width: 400px;
	padding-top: 20px;
	padding-right: 0px;
}
.topright{
	background-image:url(assets/images/homeLogo.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 305px;
	padding-bottom: 0px;
	padding-top: 0px;
}
.quote{
	font-size: 34px;
	color: #3399CC;
	background-color: #FFFFFF;
	padding-top: 0px;
	margin-top: 0px;
	border: 2px solid #FFFFFF;
}


.columntopleft{
	float:left;
	width: 180px;
	border-right-width: 0.25px;
	border-right-style: dotted;
	border-right-color: #3399CC;
	padding-right: 7px;
	padding-left: 7px;
	border-left-width: 0.25px;
	border-left-style: dotted;
	border-left-color: #3399CC;
}

.columnbottomleft{
	float:left;
	width: 190px;
	border-right-width: 0.25px;
	border-right-style: dotted;
	border-right-color: #3399CC;
	padding-top: 10px;
	padding-right: 7px;
}


.columntopright{
	float:right;
	width: 180px;
	padding-right: 15px;
	border-bottom-width: 0.25px;
	border-bottom-style: dotted;
	border-bottom-color: #3399CC;
}


.columncentreright{
	float:right;
	width: 180px;
	padding-right: 15px;
	padding-top: 10px;
	border-bottom-width: 0.25px;
	border-bottom-style: dotted;
	border-bottom-color: #3399CC;
}


.columnbottomright{
	float:right;
	width: 180px;
	padding-top: 10px;
	padding-right: 15px;
}





.oneColLiqCtrHdr #footer {
	background: #E5E5E5;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	height: 70px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0;
	padding-left: 0px;
	width: 825px;
	float: left;
} 
.validation{
	float:right;
	text-align: right;
	padding-right: 5px;
}
.college{
	float:left;
	padding-left: 15px;
	width: 500px;
}
