# Project-specific ignores
ind-backup.html
index-bk.html
Web_Design_Contracts_Bundle.zip 
_mm/
_notes/
test/
backup_oldSite/
bat/

# General ignores
.DS_Store
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/Editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
